<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "bootstrap/base.html" %}
    <style>
        {% block style_template %}
        body{
            background: purple;
        }
        {% endblock %}
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>