{% extends "base.html" %}


{% block title %}Access Denied{% endblock %}

{% block content %}
<div class="container">
    <h1>Access Denied </h1>
    <iframe src="https://giphy.com/embed/1xeVd1vr43nHO" width="480" height="271" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/cheezburger-funny-dog-fails-1xeVd1vr43nHO">via GIPHY</a></p>
</div>
{% endblock %}