{% extends "base.html" %}


{% block title %}Secrets{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Welcome</h1>
		<p>Are you ready to discover my secret?</p>
		<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>
	</div>
</div>
{% endblock %}