{% extends "base.html" %}


{% block title %}Success{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}" novalidate>
        <p>{{ form.csrf_token }}</p>
        <!--        EMAIL       -->
        <p>{{ form.email.label }}<br>{{ form.email(size=30) }}</p>
        {% if form.email.errors %}
        <ul class="errors">
            {% for error in form.email.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!--        PASSWORD       -->
        <p>{{ form.password.label }}<br>{{ form.password(size=30) }}</p>
        {% if form.password.errors %}
        <ul class="errors">
            {% for error in form.password.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!--        SUBMIT BTN       -->
        {{ form.submit }}
    </form>
</div>
{% endblock %}